$font-raleway: "Raleway", sans-serif;
$font-open-sans: "Open Sans", sans-serif;
$color-blue: #08a6e4;
$color-blue-shadow: rgba(7, 172, 230, 0.16);
$color-red: #FB3B64;
$color-gray: #A5A5A5;
$color-light-gray: #F7F7F7;
$color-green: #55DFB4;
$color-black: #000000;
$color-white: #FFFFFF;